# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.clean
Assignments/Assignment1/main
Labs/Labs1/.vscode/
.vscode/
Labs/Labs1/main
*.xml
*.iml
*.cmake
*.bin
*.check_cache
*.log
*.ninja
*.yaml
Labs/Labs3/cmake-build-debug/
Labs/Labs3/.idea/
Labs/Labs2/Redo/cmake-build-debug/
Assignments/Assignment2/cmake-build-debug/
Assignments/Assignment1/.idea/
Assignments/Assignment1/.vscode/
Assignments/Assignment2/.idea/
Assignment2/cmake-build-debug/
Assignments/Assignment2/build/
