# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.clean
Assignments/Assignment1/main
Labs/Labs1/.vscode/settings.json
Labs/Labs1/.vscode/tasks.json
.vscode/settings.json
.vscode/
Labs/Labs1/main
*.xml
*.iml
*.cmake
*.bin
*.check_cache
*.log
*.ninja
*.yaml
Labs/Labs3/cmake-build-debug/.ninja_deps
*.iml
Labs/Labs3/cmake-build-debug/.ninja_log
*.iml
*.iml
Labs/Labs3/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
Labs/Labs3/cmake-build-debug/CMakeFiles/clion-environment.txt
Labs/Labs3/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Labs/Labs3/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
Labs/Labs3/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
Labs/Labs3/cmake-build-debug/CMakeCache.txt
Labs/Labs3/.idea/Labs3.iml
Labs/Labs2/Redo/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
Labs/Labs2/Redo/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
Labs/Labs2/Redo/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
Labs/Labs2/Redo/cmake-build-debug/CMakeFiles/clion-environment.txt
Labs/Labs2/Redo/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Labs/Labs2/Redo/cmake-build-debug/deposit.h
Labs/Labs2/Redo/cmake-build-debug/moneyDatabase.cpp
Labs/Labs2/Redo/cmake-build-debug/moneyDatabase.h
Labs/Labs2/Redo/cmake-build-debug/CMakeCache.txt
Labs/Labs2/Redo/cmake-build-debug/.ninja_log
Labs/Labs2/Redo/cmake-build-debug/.ninja_deps
Labs/Labs2/Redo/.idea/Redo.iml
Labs/Labs2/.idea/Labs2.iml
Assignments/Assignment2/cmake-build-debug/smelly_replacements.txt
Assignments/Assignment2/cmake-build-debug/smelly.txt
Assignments/Assignment2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Assignments/Assignment2/cmake-build-debug/CMakeFiles/clion-environment.txt
Assignments/Assignment2/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
Assignments/Assignment2/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
Assignments/Assignment2/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
Assignments/Assignment2/cmake-build-debug/CMakeCache.txt
Assignments/Assignment2/cmake-build-debug/.ninja_log
Assignments/Assignment2/cmake-build-debug/.ninja_deps
Assignments/Assignment2/build/CMakeCache.txt
Assignment2/cmake-build-debug/smelly_replacements.txt
Assignment2/cmake-build-debug/smelly.txt
Assignment2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Assignment2/cmake-build-debug/CMakeFiles/clion-environment.txt
Assignment2/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
Assignment2/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
Assignment2/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
Assignment2/cmake-build-debug/CMakeCache.txt
Assignment2/cmake-build-debug/.ninja_log
Assignment2/cmake-build-debug/.ninja_deps
Assignments/Assignment1/.idea/Assignment1.iml
Assignments/Assignment1/.vscode/settings.json
Assignments/Assignment1/.vscode/tasks.json
Assignments/Assignment2/.idea/Assignment2.iml
Assignments/Assignment2/.idea/misc.xml
Assignments/Assignment2/.idea/modules.xml
Assignments/Assignment2/.idea/vcs.xml
*.xml
*.iml
Labs/Labs3/.idea/Labs3.iml
Labs/Labs2/Redo/.idea/Redo.iml
Labs/Labs2/.idea/Labs2.iml
Assignments/Assignment1/.idea/Assignment1.iml
Assignments/Assignment1/.vscode/settings.json
Assignments/Assignment1/.vscode/tasks.json
Assignments/Assignment2/.idea/Assignment2.iml
Assignments/Assignment2/.idea/misc.xml
Assignments/Assignment2/.idea/modules.xml
Assignments/Assignment2/.idea/vcs.xml
